<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
			</li>
		</ul>
	</nav>
	<nav class="language-nav">
        <ul>
            <a><li>ENGLISH</li></a>
            <a><li>ESPAÑOL</li></a>
            <a><li>中文</li></a>
        </ul>
    </nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-btn">
				<button>SUBSCRIBE NOW</button>
			</li>
			<li id="login-btn">
				<button>LOG IN</button>
			</li>
		</ul>
	</nav>
</header>