<div class="main-content">
    <div class="content-left col-2-3">
        <div class="content-highlight">
            <section>
                <span class="content-highlight-title">Anteater ‌Knows‌ ‌It‌’s Stereotypical‌ ‌But‌ ‌Can’t‌ ‌Help‌ ‌But‌ ‌Love‌ Ants‌</span>
                <div class="content-highlight-brief">
                    <p>Despite expressing reservations about being a caricature of his entire species, local giant anteater Armando Snout confirmed Tuesday that even though he knew it was stereotypical, he couldn’t help but love ants. </p>
                    <br>
                    <p>“What am I supposed to do, pretend like I don’t love those little dudes? If I’m being totally honest, there’s nothing I’d rather do than stick my long tongue into an anthill and spend my afternoon sucking them out by the dozen. I don’t want to be a self-parody or anything, but fruit bats like fruit, and you don’t see them freaking out.”</p>
                </div>
            </section>
            <img class="content-highlight-img" src="assets/content-highlight1.jpg" alt="">
        </div>

        <div class="news-brief">
            <div class="col-1-2">
                <div class="news-brief-title">Missing Red Panda Returns To Columbus Zoo</div>
                <div class="news-brief-body">A two-year-old red panda named Kora has returned on her own accord after escaping from her enclosure at the Columbus Zoo in Ohio last week, relieving staff members who say she recently gave birth to two cubs.</div>
            </div>
            <div class="col-1-3">
                <div class="news-brief-title">Old Bike Chain Needing More And More Lube To Perform</div>
                <div class="news-brief-body">Tom Finnery, a person friends confirmed always said yes to life and no to the idea of limits, had been found lying 20 feet from his mountain bike at the bottom of a gorge.</div>
            </div>
            <div class="col-1-3">                
                <div class="news-brief-title">Cat Sticks Paw Around Corner Like Life Some Big Fosse Routine</div>
                <div class="news-brief-body">Recent studies have shown that cat owners feel superior to others after being told of recent studies proving cat owners are superior to those around them.</div>
            </div>
        </div>

        <div class="content-highlight">
            <section>
                <span class="content-highlight-title">Flowers Left Over From Child’s Funeral Under Tremendous Pressure To Thrive</span>
                <div class="content-highlight-brief">
                    <p>Speculating that even the slightest trace of withering or discoloration would devastate the family, a pot of lilies left over from 12-year-old Jose Ramirez’s funeral confirmed Monday that it was under tremendous pressure to thrive. </p>
                </div>
            </section>
            <img class="content-highlight-img" src="assets/content-highlight2.jpg" alt="">
        </div>
        
        <div class="at-home">
            <span class="at-home-title">For many more ideas for what to do and read and watch, visit <strong>At Home</strong>.</span>
            <hr>
            <div class="at-home-brief">
                <p>College tuition is expensive, but <strong>“indirect” costs</strong> add up, too. The city isn’t totally back to normal, but <strong>New Yorkers are walking the High Line</strong> and visiting Governors Island. And we have five recipes for your <strong>weeknight dinners</strong>.</p>
                <img src="assets/ad.jpg" alt="">
            </div>
            <hr>
            <div class="at-home-links">
                <a href="#">Sign Up for the At Home Newsletter</a>
                <a href="#">Explore Our New At Home Section</a>
            </div>
        </div>


        <div class="content-highlight">
            <section>
                <span class="content-highlight-title">Real-Life ‘Nintendogs’? This Furry 4-Legged Creature Loves To Snuggle And Play</span>
                <div class="content-highlight-brief">
                    <p>Ever since its 2005 release, Nintendogs has built up a loyal fanbase of those who fell in love with the title’s adorable cast of cuddly characters, yet resigned themselves to never seeing anything as cute in their daily lives. Well, gamers, feast your eyes on this: It turns out there’s a real-life creature called a “possum” that’s just as snuggly as a Nintendog.</p>
                </div>
            </section>
            <img class="content-highlight-img" src="assets/content-highlight3.jpg" alt="">
        </div>

        <div class="reading-quiz">
            <div class="reading-quiz-text">
                <span class="reading-quiz-title">11 of Our Best Weekend Reads</span>
                <p class="reading-quiz-body">While the days grow increasingly tedious and mind-numbing, The Onion’s team of underpaid mixologists have crafted 11 perfect reads to help you survive social distancing.</p>
                <a class="reading-quiz-link" href="#">Did you follow the news this week? Take our quiz.</a>
            </div>
            <img src="assets/quiz.jpg" alt="">  
        </div>

    </div>
    <div class="content-right col-1-3">
        <div class="content-opinion">
            <span class="content-opinion-title">Opinion</span>
            <div class="opinion-highlight">
                <div>
                    <p class="opinion-category">The Editorial Board</p>
                    <p class="opinion-title">Woman Holding Up Writhing, Screaming Potato With 8-Foot-Long Roots</p>
                    <p class="opinion-brief">Local woman Janice Freidman reportedly inspected a writhing, screaming potato with 8-foot-long roots Friday before deeming it “probably still good.”</p>
                </div>
                <img src="assets/opinion-highlight.jpg" alt="">
            </div>
            <div class="opinion">
                <div class="opinion-left col-1-2">
                    <section>
                        <div>
                            <p class="opinion-category">Food</p>
                            <p class="opinion-title">Deployed Into Water Glass With No Real Exit Strategy</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion1.jpg" alt="">
                    </section>
                    <section>
                        <div>
                            <p class="opinion-category">Animals</p>
                            <p class="opinion-title">Horse Probably Only Vegetarian For Attention</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion2.jpg" alt="">
                    </section>
                    <section>
                        <div>
                            <p class="opinion-category">Nature</p>
                            <p class="opinion-title">Birch Tree Pictures Nude 4,000-Year-Old Bristlecone Pine To Delay Pollen Release</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion3.jpg" alt="">
                    </section>
                    <section>
                        <div>
                            <p class="opinion-category">Animals</p>
                            <p class="opinion-title">Wriggling Cat To Be Held Until It Accepts Its Fate</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion4.jpg" alt="">
                    </section>
                </div>
                <div class="opinion-right col-1-2">
                    <section>
                        <div>
                            <p class="opinion-category">Food</p>
                            <p class="opinion-title">Burnt Piece Of Toast In Trash Serves As Humiliating Monument To Culinary Failures</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion5.jpg" alt="">
                    </section>
                    <section>
                        <div>
                            <p class="opinion-category">Animals</p>
                            <p class="opinion-title">Dog Interpret Crazy Dream Where It Saw Squirrel, Barked At Squirrel</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion6.jpg" alt="">
                    </section>
                    <section>
                        <div>
                            <p class="opinion-category">Hobbies</p>
                            <p class="opinion-title">Jigsaw Puzzle Missing Like 999 Pieces</p>
                        </div>
                        <img class="opinion-img" src="assets/opinion7.jpg" alt="">
                    </section>
                </div>
            </div>
        </div>
        <div class="content-editors-pick">
            <div class="editors-pick-highlight">
                <img src="assets/editor-pick-highlight.jpg" alt="">
                <span class="editors-pick-highlight-title">Herbalife Launches Sampler Kit Into Deep Space To Share Once-In-A-Lifetime Business Opportunity With Alien Civilizations</span>
                <hr>
                <p class="editors-pick-highlight-brief">Emphasizing that, for a limited time only, there would be no minimum purchases required for new team members, global multilevel marketing corporation Herbalife successfully launched a product sampler kit into deep space Wednesday to reach alien civilizations with a once-in-a-lifetime opportunity. </p>
            </div>
            <div class="opinion-highlight">
                <div>
                    <p class="opinion-title">Botanists Concerned By What Returning To Work Will Do To Nation’s House Plants</p>
                    <p class="opinion-brief">Many botanists across the country are worried the sudden change in routine could send house plants into an emotional spiral, and even lead some to lash out at their owners. Hear how you can help ease your plant back into normalcy.</p>
                </div>
                <img src="assets/editor-pick1.jpg" alt="">
            </div>
            <div class="opinion-highlight">
                <div>
                    <p class="opinion-title">Americans React With Indifference After First Case Of Coronavirus Spreading To Pet Ferret</p>
                    <p class="opinion-brief">The coronavirus is claiming new victims today as the CDC announced the first confirmed case of Covid-19 in a ferret. Hear just how little of a shit Americans could give about the new discovery.</p>
                </div>
                <img src="assets/editor-pick2.jpg" alt="">
            </div>
        </div>
    </div>
</div>