<div class="masthead">

    <div class="logo">
        <div class="date">
            <p>Saturday, July 18, 2020</p>
        </div>

        <div class="the-onion-times">
            <img src="assets/TheOnionTimes.png">
        </div>

        <div class="today-paper">
            <p>Today's Paper</p>
        </div>
    </div>

    <div class="masthead-links">
        <ul>
            <button><li>World</li></button>
            <button><li>U.S.</li></button>
            <button><li>Politics</li></button>
            <button><li>N.Y.</li></button>
            <button><li>Business</li></button>
            <button><li>Opinion</li></button>
            <button><li>Tech</li></button>
            <button><li>Science</li></button>
            <button><li>Health</li></button>
            <button><li>Sports</li></button>
            <button><li>Arts</li></button>
            <button><li>Books</li></button>
            <button><li>Style</li></button>
            <button><li>Food</li></button>
            <button><li>Travel</li></button>
            <button><li>Magazine</li></button>
            <button><li>T Magazine</li></button>
            <button><li>Real Estate</li></button>
            <button><li>Video</li></button>

        </ul>
    </div>
</div>
