<div class="section-nav">
    <div class="story-highlight">
        <ul>
            <li><a href="#">
                <img src="assets/story-highlight1.png"/>
                <span>
                    <strong>Listen to "Todd's Confession"</strong>
                    <p>Arctic’s Rapid Thawing Not Helped By Todd, A Guy Up There Rubbing His Warm Body All Over The Ice</p>
                </span>
            </a></li>
            <li><a href="#">
                <img src="assets/story-highlight2.png"/>
                <span>
                    <strong>A National Poll on the Future</strong>
                    <p>Majority Of Americans Not Prepared For When Sun Engulfs Earth In 7.5 Billion Years</p>
                </span>
            </a></li>
            <li><a href="#">
                <img src="assets/story-highlight3.png"/>
                <span>
                    <strong>Listen to "The Transparency"</strong>
                    <p>IRS Announces Taxpayers Can Make Checks Directly Payable To Any Corporation Or Billionaire They Want This Year
Local</p>
                </span>
            </a></li>
        </ul>
    </div>
    <div class="stock">
        <ul>
            <li> 
                <span>S&P 500</span> 
                <span class="stock-up">+0.28% &#8593;</span>
            </li>
            <li>
                <span>Dow</span> 
                <span class="stock-down">-0.23% &#8595;</span>
            </li>
            <li>
                <span>Nasdaq</span> 
                <span class="stock-up">+0.28% &#8593;</span> 
            </li>
        </ul>
    </div>
    <div class="weather">
        <span>
            <i class="fa fa-sun"></i>
            <ul>
                <li class="current-temp">65°F</li>
                <li class="today-temps">83°F 57°F</li>
            </ul>
        </span>
        <p class="location">Mountain View, CA</p>
    </div>
</div>